.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/church.JPG");
    background-position: 50% 50%;
  }
  
  .u-section-1 .u-sheet-1 {
    min-height: 89px;
  }
  
  .u-section-1 .u-text-1 {
    margin: 60px auto;
    font-size: 6rem;
    font-weight: 700;
  }
  
  .u-section-1 .u-text-2 {
    margin: 20px auto 0;
  }
  
  .u-section-1 .u-btn-1 {
    background-image: none;
    margin: 30px auto 60px;
  }.u-section-2 .u-sheet-1 {
    min-height: 712px;
  }
  
  .u-section-2 .u-text-1 {
    margin: 60px auto 0;
  }
  
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin: 13px auto 0;
  }
  
  .u-section-2 .u-gallery-1 {
    height: 396px;
    width: 706px;
    margin: 13px auto 60px;
  }
  
  .u-section-2 .u-carousel-indicators-1 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-section-2 .u-carousel-item-1 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-2 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-2 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-3 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-3 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-4 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-4 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-5 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-5 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-6 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-6 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-7 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-7 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-8 {
    margin-right: 0;
  }
  
  .u-section-2 .u-over-slide-8 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
    padding: 30px;
  }
  
  .u-section-2 .u-carousel-item-9 {
    margin-right: 0;
  }
  
  .table-margin {
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
  }

  .school-text{
    margin-right:550px;
    margin-left: 20px;
    text-align: justify;
  }

  .text-middle{
    text-align: center;
  }

  .img-margin{
    padding-top:35px ;
    padding-left:30px ;
  }

  /* Style for the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Style for the dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown content when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}